.au-fa-check {
  display: inline-block
}

.au-fa-check__label {
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.au-fa-check__label:hover .au-fa-check__box:not(.au-fa-check__box--disabled):not(.au-fa-check__box--checked):not(.au-fa-check__box--outline-icon) {
  color: lightgray;
}

.au-fa-check__label * {
  cursor: pointer;
}

.au-fa-check__label--vertical {
  flex-direction: column;
}

.au-fa-check__label--horizontal {
  flex-direction: row;
}

.au-fa-check__label--horizontal .au-fa-check__box {
  margin-right: 0.25em;
}

.au-fa-check__label--disabled {
  cursor: not-allowed;
}

.au-fa-check__label--disabled * {
  cursor: not-allowed;
}

.au-fa-check__label--disabled:hover {
  text-shadow: unset;
}

.au-fa-check__box {
  padding: 2px;
}

.au-fa-check__box--focused {
  box-shadow: 0px 0px 2px 2px dodgerblue;
}

.au-fa-check__box--square {
  border-radius: 4px;
}

.au-fa-check__box--circle {
  border-radius: 50%;
}

.au-fa-check__box--medium:not(.au-fa-check__box--outline-icon) {
  font-size: 70%;
}

.au-fa-check__box--big.au-fa-check__box--outline-icon {
  font-size: 125%;
}

.au-fa-check__box--checked:not(.au-fa-check__box--outline-icon) {
  color: #FFFFFF;
  background: var(--au-fa-check--checkedColor);
  border: solid var(--au-fa-check--checkedColor);
}

.au-fa-check__box--checked.au-fa-check__box--outline-icon {
  color: var(--au-fa-check--checkedColor);
}

.au-fa-check__box--checked.au-fa-check__box--disabled {
  /* TODO: Can I set a separate opacity for the border so that the outline is still visible? */
  opacity: 0.4;
}

.au-fa-check__box--unchecked.au-fa-check__box--disabled {
  opacity: 0.2;
  color: black;
}

.au-fa-check__box--unchecked:not(.au-fa-check__box--outline-icon) {
  border: solid black;
}

.au-fa-check__box--unchecked:not(.au-fa-check__box--outline-icon) {
  color: transparent;
  background: transparent;
}

.au-fa-check__input {
  opacity: 0;
  position: absolute;
}
